@import url(http://fonts.googleapis.com/css?family=Coda+Caption:800);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

body {
	font-size: 18px;
	font-family: 'Poiret One', cursive;
	background-image: url('../img/grey_wash_wall.png');
	background-repeat: repeat;
	color: #fff;
}

header.name {
	font-family: 'Rock Salt', cursive;
	font-size: 60px;
	color: #F5D50A;
	text-shadow: 3px 3px #302F30;
}

header {
	font-family: 'Shadows Into Light', cursive;
	font-size: 70px;
	padding: 25px 0 25px 40px;
	color: #F5D50A;
	text-shadow: 2px 2px #302F30;
}

h2 {
	margin-top: 0
}

h2,
h3 {
	font-family: 'Shadows Into Light', cursive;
	color: #ccc;
	text-shadow: 2px 2px #302F30;
	font-size: 40px;
}

img.portrait {
	border: 2px solid white;
	background-color: #878387;
	border-radius:20px;
	box-shadow: 10px 10px 5px #302F30;
	position: absolute; 
	right: 0;
	padding: 25px;
	margin-right: 50px;
}


a:link {
	color: yellow
}

a:visited {
	color: #F5D50A
}

a:hover { 
	color: #000;
}


section {
	max-width:489px;
	margin: 0 0 50px 310px;
	background-color: #878387;
	border:2px solid;
	border-radius:25px;
	box-shadow: 10px 10px 5px #302F30;
	padding: 25px 
}

section.pdf img {
	padding-bottom: 10px;
}

nav {
	float: left;
}

nav ul li {
	font-size: 30px;
	display: block;
	list-style-type:none;
	width: 300px;
	padding: 0;
	margin: 0;
}

iframe {
	margin-top: 0;
}

strong {
	font-style: italic;
}

table {
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-collapse: collapse;
	margin: auto;
}

table tr, table td {
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	padding: 4px 8px;
}

@media print {
	body {
		font-family: georgia;
		font-size: 12pt;
	}

	header,
	h2,
	h3 {
		font-family: georgia;
		color: #000
	}

	header { 
		font-size: 40px;
		text-align: center;
		padding-top: 10px;
	}

	nav {
		display: none;
	}

	img.portrait {
		display: none;
	}

	section {
	max-width:489px;
	margin: 0 50px 50px 50px;
	background-color: none;
	border:none;
	border-radius:25px;
	box-shadow: none;
	padding-right: 25px 
	}
}

